// PropertiesPage.scss
.properties-page {
    padding: 20px;
  
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    .property-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  
    }
  }