// PropertiesPage.scss
.properties-page {
  background: linear-gradient(to right, #f8f9fa, #e9ecef);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
  h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
    color: #343a40;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
    .property-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
  
    }
  }
  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .voice-button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .voice-button:focus {
    outline: none;
  }
  
  .voice-button:active {
    background-color: #0056b3;
  }
  