.footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
  
    .footer-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
  
      .footer-section {
        flex: 1 1 300px;
        margin: 10px;
  
        h4 {
          margin-bottom: 15px;
          font-size: 1.2em;
          color: #f4a261;
        }
  
        p {
          font-size: 0.9em;
          line-height: 1.6;
        }
  
        ul {
          list-style: none;
          padding: 0;
  
          li {
            margin: 5px 0;
  
            a {
              color: #ffffff;
              text-decoration: none;
  
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
  
        .social-icons {
          a {
            font-size: 1.5em; /* Icon size */
            color: #ffffff;
            margin-right: 10px;
            display: inline-block;
            transition: color 0.3s;
  
            &:hover {
              color: #e76f51;
            }
          }
        }
      }
    }
  
    .footer-bottom {
      text-align: center;
      margin-top: 20px;
      font-size: 0.8em;
      border-top: 1px solid #444;
      padding-top: 10px;
    }
  }
  