.admin-dashboard {
  .property-table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: left;
    }
    .button-container{
      display: flex;
      justify-content: space-around;
    }

    .edit-btn,
    .delete-btn {
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 14px;
      border-radius: 5px;
      display: flex;
      align-items: center;

      i {
        margin-right: 5px; // Space between icon and text
      }
    }

    .edit-btn {
      background-color: #4CAF50; // Green
      color: white;

      &:hover {
        background-color: #45a049; // Darker green on hover
      }
    }

    .delete-btn {
      background-color: #f44336; // Red
      color: white;

      &:hover {
        background-color: #e53935; // Darker red on hover
      }
    }
  }
}
